@font-face {
  font-family: 'LogoFont';
  src: url('../assets/fonts/GreatVibes-Regular.ttf');
}
@font-face {
  font-family: 'ParagraphFont';
  src: url('../assets/fonts/LibreBaskerville-Regular.ttf');
}

body {
  background-color: #062866;
}


label {
    display: block;
    margin: .5em 0 0 0;
    
  }

  form {
    margin: 0 auto;
    width: 300px;   
    background-color: whitesmoke; 
    padding: 6px; 
    border-radius: 10px; 
 }


 h1 {
    color: whitesmoke;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    font-family: "ParagraphFont";
  }
